* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
input {
  padding: 12px 16px;   /* top-bottom | left-right */
  font-size: 16px;
  font-weight: 600;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.center-container {
  height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  background-color: #111;     /* optional */
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;                  /* space between input & button */
  padding: 20px;
}