* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

button{
    padding: 10px 20px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: inherit;
    margin: auto;
}
h1{
    background-color: rgb(194, 161, 161);
    width: fit-content;
    font-size: 100px;
    padding: 10px 80px;
    border-radius: 5px;
    margin: 10px;
}
h2{
    background-color: rgb(194, 161, 161);
    width: fit-content;
    display: flex;
    font-size: 100px;
    padding: 10px 80px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}